<form method="POST" action ="/albums/new">
<label>Album title: </label>
<input type="text" name="title" />
<br><br>
<label>Album release year: </label>
<input type="text" name="release_year" />
<br><br>
<label>Artist id: </label>
<input type="text" name="artist_id" />

<input type="submit" />
</form>
